<div id="navbar" class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">MC Admin</a>
    <ul class="nav">
      <li data-name="dashboard"><%= link_to "Dashboard", admin_root_path %></li>
      <li data-name="communities"><%= link_to "Communities", admin_communities_path %></li>
      <li data-name="members"><%= link_to "Members", admin_members_path %></li>
    </ul>
    <ul class="nav pull-right">
      <li class="nav-item"><%= current_admin_user.email %></li>
      <li class=""><%= link_to "Logout", destroy_admin_user_session_path, method: :delete %></li>
    </ul>
  </div>
</div>
