<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Leader</th>
            <th>Campus</th>
            <th>Day</th>
            <th>Kinds</th>
            <th>E-mail</th>
            <th>Members</th>
          </tr>
        </thead>
        <% @communities.each do |c| %>
          <tr class="<%= "hidden" if c.hidden? %>">
            <td><%= link_to "View", admin2_community_path(c) %></td>
            <td><%= c.leader %></td>
            <td><%= c.campus %></td>
            <td><%= c.host_day %></td>
            <td class="mc-kind"><%= c.kind_list.join(", ") %></td>
            <td><%= c.email %></td>
            <td><%= c.members.count %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

