<%= form_tag "/signup.json" do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag 'member[name]', 'Name' %><br />
    <%= text_field_tag 'member[name]' %>
  </div>
  <div class="field">
    <%= label_tag 'member[email]', 'Email' %><br />
    <%= text_field_tag 'member[email]' %>
  </div>
  <div class="field">
    <%= label_tag 'member[phone_number]', 'Phone number' %><br />
    <%= text_field_tag 'member[phone_number]' %>
  </div>
  <div class="field">
    <%= label_tag :community_id %><br />
    <%= text_field_tag :community_id %>
  </div>
  <div class="actions">
    <%= submit_tag 'Sign up' %>
  </div>
<% end %>

