<table class="table communities">
  <thead>
    <tr>
      <th></th>
      <th>Leader</th>
      <th class="co-leader">Co-leader</th>
      <th>Campus</th>
      <th>Day</th>
      <th>Kinds</th>
      <th>E-mail</th>
      <th>##</th>
      <th>Hidden</th>
    </tr>
  </thead>
  <% @communities.each do |c| %>
    <tr>
      <td><%= link_to "View", admin_community_path(c) %></td>
      <td><%= c.leader %></td>
      <td class="co-leader"><%= c.coleader %></td>
      <td><%= c.campus_name %></td>
      <td><%= c.host_day.titleize %></td>
      <td class="mc-kind"><%= (@taggings_hash[c.id] || []).join(", ") %></td>
      <td><%= c.email %></td>
      <td><%= @members_count[c.id].to_i %></td>
      <td><% if c.hidden? %><span class="label hidden-community">Hidden</span><% end %></td>
    </tr>
  <% end %>
</table>
