<div class="checkbox-filter checkbox-filter-<%= name %>">
  <% checkbox_id = "checkbox-#{name}-#{value}" %>
  <input type="checkbox" id="<%= checkbox_id %>" data-filter-name="<%= name %>"
      value="<%= value %>"<% if local_assigns.fetch :checked, false %> checked<% end %> />
  <label for="<%= checkbox_id %>"><%= display_text %></label>
</div>
