<%# mustache templates %>
<%= render 'template_community_search_result' %>
<%= render 'template_community_search_result_frame' %>

<%# where the leaflet map will go %>
<section id="map"></section>

<%# sidebar visible over the map, including filters and search results %>
<div id="sidebar">

  <%# a tabbed pane of filters to narrow the search results with %>
  <div id="filters">
    <nav>
      <a class="filter-nav-button" href="#" data-tab-id="filter-tab-campus">Campus</a>
      <a class="filter-nav-button" href="#" data-tab-id="filter-tab-day">Day</a>
      <a class="filter-nav-button" href="#" data-tab-id="filter-tab-kind">Kind</a>
    </nav>

    <div id="filter-tab-campus" class="filter-tab">
      <div class="filter-tab-content">
        <% Community::CAMPUSES.each do |campus, display_text| %>
          <%= render partial: 'checkbox_filter', locals: {
            value: campus,
            name: 'campus',
            display_text: display_text,
            checked: true,
          } %>
        <% end %>
      </div>
    </div>

    <div id="filter-tab-day" class="filter-tab">
      <div class="filter-tab-content">
        <% Community::DAYS.each do |day| %>
          <%= render partial: 'checkbox_filter', locals: {
            value: day,
            name: 'day',
            display_text: day.titleize,
            checked: true,
          } %>
        <% end %>
      </div>
    </div>

    <div id="filter-tab-kind" class="filter-tab">
      <div class="filter-tab-content">
        <% Community::MC_KINDS.each do |mc_kind, display_text| %>
          <%= render partial: 'checkbox_filter', locals: {
            value: mc_kind,
            name: 'kind',
            display_text: display_text,
            checked: true,
            only: false,
          } %>
        <% end %>
      </div>
    </div>
  </div>

  <%# all search results for the displayed items %>
  <ul id="search-results"></ul>
</div>

<%= javascript_include_tag "map" %>
