<section id="map"></section>

<div id="search">
  <div class="filters">
    <input id="input-search" type="text" placeholder="Search" />

    <%# checkboxes for the various filters we're allowing %>
    <h2>Day</h2>
    <% Community::DAYS.each do |day| %>
      <div class="checkbox-filter checkbox-filter-day">
        <input type="checkbox" id="checkbox-day-<%= day %>" value="<%= day %>" checked />
        <label for="checkbox-day-<%= day %>"><%= day.titleize %></label>
      </div>
    <% end %>

    <%# checkboxes for the various filters we're allowing %>
    <h2>Campus</h2>
    <% Community::CAMPUSES.each do |id, display_name| %>
      <div class="checkbox-filter checkbox-filter-campus">
        <input type="checkbox" id="checkbox-campus-<%= id %>" value="<%= id %>" checked />
        <label for="checkbox-campus-<%= id %>"><%= display_name %></label>
      </div>
    <% end %>

    <%# checkboxes for the various filters we're allowing %>
    <h2>Kind</h2>
    <% Community::MC_KINDS.each do |id, display_name| %>
      <%# only show values for the non-"all" filters %>
      <% if id != :open %>
        <div class="checkbox-filter checkbox-filter-kind">
          <input type="checkbox" id="checkbox-kind-<%= id %>" value="<%= id %>" />
          <label for="checkbox-kind-<%= id %>"><%= display_name %></label>
        </div>
      <% end %>
    <% end %>
  </div>

  <ul></ul>
</div>
