<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Missional Community Finder | The Austin Stone Community Church</title>
    <%= stylesheet_link_tag "admin", :media => "all" %>
    <%= stylesheet_link_tag "#{params[:controller]}", :media => "all" %>
    <%= javascript_include_tag "admin" %>
    <%= javascript_include_tag "#{params[:controller]}" %>

    <%# enable HTML5 elements in old browsers %>
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script><![endif]-->
  </head>
  <body>
    <header>
      <%= render "admin/header" %>
    </header>
    <main class="container">
      <% flash.each do |name, msg| -%>
        <div class="alert <%= bootstrap_alert_class(name) %>">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= msg %>
        </div>
      <% end -%>
      <%= yield %>
    </main>
  </body>
</html>
